// Header main settings
.header{
	width: 100%;
	height: 120px;
	padding-top: 50px;
	top: 0px; left: 0px;
	text-align: center;
	position: fixed;
	z-index: 1;
	background-color: rgba(0,107,177,0);
	
	@include transition-duration(0.5s);
	@include transition-timing-function(cubic-bezier( 0.215, 0.610, 0.355, 1.000 )); //P1, P2, P3, P4
	@include transition-property(height, padding-top, padding-left, background-color);

	&--hidden{
		@include transform(translateY(-100%));
	}

	&--in-content {
		padding-top: 10px;
		background-color: rgba(0,107,177,0.9);
	}
}

// Header Child Elements
.nav-container{
	height: 100%;
	max-width: $desktop;
   margin: 0 auto;
   @include clearfix;

   @include screen(desktop) {
		width: $desktop;
   }

   @include screen(mobile-l-max){
		display: block;
   }
	
	@include screen(mobile-l-max){
	   margin: 0px 10px;
	}
}

.logo{
	float: left
}

.main-nav{
	float: right;
	list-style-type: none;

	@include screen(mobile-l-max){
		display: none;
		padding-left: 0;
	}

	&__listItem{
		display: inline-block;
		
		&:not(:first-child) a{
			margin-left: 30px;
		}

		a{
			padding: 6px 15px 3px 15px;
			color: #fff;
			font-family: $hi-m;
			font-size: 16px;
			text-decoration: none;
			text-transform: uppercase;

			&:hover, &.active{
				padding: 6px 15px 3px 15px;
				background-color:rgba(0,0,0,0.3);

				@include border-radius(15px);
			}
		}
	}
}

.mobile-menu{
	height: 10px;
	margin-top: 40px;
	float: right;
	display: none;

	@include screen(mobile-l-max){
		display: block;
	}

	a, .icon-menu{
		color: #ffffff;
		text-decoration: none;
	}

	a{
		font-family: $hi-b;
		text-transform: uppercase;

		@include font-size(20px, 1);

	}

	.icon-menu{
		float: right;

		@include font-size(40px);
		@include vertical-align;
	}
}