body{
	@include font-smoothing(antialiased);
}

.container-fluid {
    max-width: 1700px;
    margin: 0 auto;
    @include clearfix;

    @include screen(desktop) {
        width: $desktop;
    }
	
   @include screen(mobile-l-max){
		padding: 0 8px;
	}

	@include screen(mobile-max){
		padding: 0;
	}
}

.main-content{
	& > :first-child{
    	padding-top: 200px;

    	@include screen(mobile-l-max){
			padding-top: 100px;
    	}
    }
}

// Sections
.white-section{
	background-color: #ffffff;
	
	// Header
	&__header{

		.section-intro{
		   margin: 80px 0px 30px 0;
			font-family: $hi-r;
			color: darken($light-grey, 20%);

			@include font-size(16px);

			strong{font-family: $hi-b;}
			
			&:before, &:after{
				content: '';
				width: 126px;
				height: 2px;
				display: inline-block;
				vertical-align: middle;
				background: $off-white;
			}

			&:before{
				margin-right: 7px;				
			}
			&:after{
				margin-left: 7px;
			}

			// No lines on the sides
			&--no-decoration{
				&:before, &:after{
					content: none;
				}
			}
		}

		.gradientTitle{
			color: $secondary-blue;
			margin-bottom: 7px;
			font-family: $hi-l;

			@include font-size(52px, 1.3);

			background: -webkit-linear-gradient(150deg, $violet 45%, $secondary-blue 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

			@include screen(mobile-l-max){
				@include font-size(52px, 1.3);
			}

			@include screen(mobile-max){
				@include font-size(25px, 1.2);
			}
		}
	}
}

.violet-section{
	// Default Violet; Note :: Color can be change in other specific scss file that loads after components.scss.
	background-color: $violet;

	// Header
	&__header{
		color: $white;

		.section-intro{
		   margin: 80px 0px 30px 0;
			font-family: $hi-r;
			

			@include font-size(16px);

			strong{font-family: $hi-b;}
			
			&:before, &:after{
				content: '';
				width: 126px;
				height: 2px;
				display: inline-block;
				vertical-align: middle;
				background: $off-white;
			}

			&:before{
				margin-right: 7px;				
			}
			&:after{
				margin-left: 7px;
			}

			// No lines on the sides
			&--no-decoration{
				&:before, &:after{
					content: none;
				}
			}
		}

		.gradientTitle{
			color: $white;
			margin-bottom: 7px;
			font-family: $hi-l;

			@include font-size(52px, 1.3);

			@include screen(mobile-l-max){
				@include font-size(52px, 1.3);
			}

			@include screen(mobile-max){
				@include font-size(25px, 1.2);
			}
		}
	}
}

.center-section{
	margin-bottom: 130px;
	text-align: center;

	&__main-content{

		.main-intro{
			font-family: $hi-r;
			@include font-size(20px);
			line-height: 1.3;
			color: darken($light-grey, 40%);
		}

		.inline-items{
	      margin: 50px auto 70px auto;
	      
	      @include clearfix;

	      @include screen(mobile-l-max){
	      	padding-left: 0px;
			}

			li{
				width: 321px;
				display: block;
				float: left;
				list-style-type: none;

				@include screen(tablet-max){
					width: 235px;
				}
				
				@include screen(mobile-l-max){
					width: 200px;
				}

				@include screen(mobile-max){
					width: 100%;
				}

				&:not(:first-child){
					margin-left: 20px;

					@include screen(mobile-l-max){
						margin-left: 5px;
					}

					@include screen(mobile-max){
						margin-left: 0px;
					}
				}
			}
		}
	}
}

// Quotes :: Default values.
.quote{
	color: $main-blue;
	font-family: $hi-sb;
}

// Round Buttons
.round-button{
	padding: 10px 25px;
	@include font-size(16px, 1);
	text-decoration: none;
	border: 2px solid $white;
	@include border-radius(25px);
}

// Boxed Buttons
.btn{
    padding: 10px 20px;
    color: #ffffff;
    line-height: 1;
    font-family: $hi-sb;

    @include font-size(18px);

   @include screen(tablet-max){
		width: 100%;
		text-align: center;

		@include font-size(16px);
	}
    
    // Styles :: Note, styles coming from bourbon mixin.
    &--simple{
        @include button; // default = simple
    }
    &--pill{
        @include button(pill);
    }


    // Button Colors
    &--blue{
        color: #ffffff;
        background: $main-blue;
    }
    &--teal{
    	color: $white;
 	   border: 1px solid darken($teal, 25%);
    	background: $teal;
    }
}

// Generic Links
.main-generic-link{
	color: $main-blue;
	font-family: $hi-sb;
	text-decoration: none;

	@include font-size(15px);
}

// Icons
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

// Video
// Note :: This is referent to the "Video Aspect Ratio" section in global.js 
.video{
	@include screen(mobile-max){
		// width: 100%    !important;
		// height: auto   !important;
	}
}

.left-section{
	text-align: left;
}