// Brand Colors //

$black: #000000;
$white: #ffffff;
$light-grey: #959595;
$dark-grey: #363636;
$main-blue: #0070b8;

// Screen Breakpoints

$mobile-portrait: 320px;
$mobile-landscape: 640px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;
$desktop: 1180px;
$desktop-large: 1600px;
$desktop-sm-hg: 800px;

// Font Stacks 

$hi-b: "HindiBold";
$hi-l: "HindiLight";
$hi-m: "HindiMedium";
$hi-r: "HindiRegular";
$hi-sb: "HindiSemiBold";